.wrapper {
  width: 250px;
  padding: 20px 0 26px 8px;
  margin-right: 250px;
  margin-left: -20px;
}

.custom-hr {
  // margin-top: 16px;
  border: none;
  height: 1px;
  background-color: rgba(22, 24, 35, 0.12);
  width: 100%;
}

.user-avatar {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  padding: 4px;
}
